*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    font-size: 62.5%;
}
.info{
    background-color: #9370DB;
    color: #FFFFFF;
    border: 0.3rem dashed #D8BFD8;
    border-radius: 0.4rem;
    width: 70rem;
    height: 36.5rem;
    margin-bottom: 5rem;
}
.infoZoom{
    transform: scale(1.2);
    margin: 5rem;
}
.infoTitle{
    font-size: 1.8rem;
    padding: 1.5rem;
    border-bottom: 0.1rem solid #D8BFD8;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
.descritionPage{
    display: flex;
    border-bottom: 0.1rem solid #D8BFD8;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
.TextDescritionPage{
    padding: 1rem 1rem 1rem 1.5rem;
    width: 70%;
    font-size: 2rem;
}
.ImageConfusedPeople{
    padding: 1rem 1rem 1rem 0;
    width: 30%;
}
.moreHelp{
    display: flex;
}
.textMoreHelp{
    padding: 1rem;
    font-size: 1.8rem;
    width: 87%;
}
.enlargeButton{
    padding: 1rem;
    width: 10%;
    cursor: pointer;
}
header{
    border-bottom-left-radius: 5.5rem;
    height: 15rem;
    width: 100%;
    background-image: linear-gradient(#4B0082, #7B68EE);
    display: flex;
    padding-left: 2rem;
    margin-bottom: 5rem;
}
body{
    background-color: #7B68EE;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}
.logo{
    width: 10rem;
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}
figcaption{
    text-align: center;
    font-weight: bold;
    font-size: 1.8rem;
    color: #ffff;
    text-shadow: 0.2rem 0.2rem 0.2rem #000000;
    transition: 0.3s;
}
figcaption:hover{
    transform: scale(1.2);
}
.welcome{
    display: flex;
    flex-direction: column;
    margin: 1.8rem 0.5rem 0.5rem 0.5rem;
    color: #D8BFD8;
    text-shadow: 0.2rem 0.2rem 0.2rem #000000;
}
h1{
    font-size: 3rem;
}
h2{
    font-size: 2.2rem;
    text-align: center;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.searchBox{
    width: 55rem;
    height: 4rem;
    text-align: center;
    margin: 0 5rem 5rem 5rem;
    background-color: #4B0082;
    border: 0.2rem solid #B0C4DE;
    border-radius: 1rem;
    outline: 0;
    color: #FFFFFF;
    font-weight: 550;
    font-size: 1.8rem;
}
.searchBox::placeholder{
    color: #FFFFFF;
}
.icon{
    width: 5rem;
}
.contentBoxHelp{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.boxTextHelp{
    display: flex;
    flex-direction: column;
    padding: 2.5rem;
    width: 45rem;
    border: 0.2rem solid #6A5ACD;
    border-radius: 1rem;
    background-color: #9370DB;
    text-decoration: none;
    color: #ffff;
    font-weight: 550;
    box-shadow: 0.2rem 0.1rem 0.5rem #4B0082;
    font-size: 2rem;
    cursor: pointer;
    transition: 0.3s;
}
.boxTextHelp:hover{
    transform: scale(1.2);
}
.contentBoxHelp:has(.boxTextHelp:hover) .boxTextHelp:not(:hover) {
    opacity: 0.5;
    scale: .98;
}
.textHelp{
    display: flex;
   gap: 1.5rem;
   align-items: center;
}
.boxOptionModal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
}
h4{
    padding-top: 1rem;
    background-color: #9370DB;
    height: 4rem;
    width: 100%;
    text-align: center;
    justify-content: center;
    color: #E6E6FA;
    text-shadow: 0.1rem 0.1rem 0.2rem #000000;
    font-weight: 700;
    font-size: 1.8rem;
}
.options{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.linkOption1{
    display: flex;
    font-weight: 700;
    width: 14rem;
    height: 5rem;
    background-color: #9370DB;
    text-decoration: none;
    color: #E6E6FA;
    text-shadow: 0.1rem 0.1rem 0.2rem #000000;
    font-size: 2rem;
    align-items: center;
    justify-content: center;
}
.linkOption2{
    display: flex;
    border: 0.2rem solid #9370DB;
    background-color: #E6E6FA;
    color: #9370DB;
    width: 14.5rem;
    height: 5rem;
    text-align: center;
    font-weight: 700;
    text-decoration: none;
    font-size: 2rem;
    align-items: center;
    justify-content: center;
}
dialog{
    margin: auto;
    padding: 0;
    justify-content: center;
    height: 19rem;
    width: 40rem;
    border: 0.1rem solid #000000;
    background: #E6E6FA;
    border-radius: 1rem;
    box-shadow: 0.3rem 0.3rem 0.5rem #000000;
}
dialog::backdrop{
    background-color: rgba(0, 0, 0, 0.650);
    backdrop-filter: blur(0.2rem);
}
.buttonClosePrint, .buttonCloseCache, .buttonCloseAccessibility, .buttonCloseSuggestion, .buttonSendSuggestion{
    width: 4.5rem;
    align-items: end;
    margin-top: 1rem;
    cursor: pointer;
}
.modalSuggestion{
    height: 57rem;
    width: 50rem;
}
.BoxTextarea{
    display: flex;
    justify-content: center;
}
textarea{
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 0.8rem;
    border: none;
    resize: none;
}
textarea::placeholder{
    font-size: 1.4rem;
    text-align: center;
}
input[type=file]{
    display: none;
}
.picture{
    font-size: 1.4rem;
    margin:  1rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E6E6FA;
    color: #8A2BE2;
    border: 0.2rem dashed #9370DB;
    cursor: pointer;
    width: 42rem;
    aspect-ratio: 16/6;
    transition: color 200ms ease-in-out;
}
.picture:hover{
    color: #7B68EE;
    border: 0.2rem dashed currentColor;
}
.footerMain{
    position: relative;
    padding: 1.2rem 1.2rem 0 1.2rem;
    margin-top: 5rem;
    width: 100%;
    background: #4B0082;
    color: #E6E6FA;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footerSuggestion{
    padding: 0.5rem 1rem;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #9370DB;
}
.devs h3{
    font-size: 1.6rem;
}
.people{
    display: flex;
    align-items: center;
    font-size: 1.7rem;
    margin-top: 0.3rem;
}
.iconGithub{
    width: 2.5rem;
    margin-left: 1rem;
    cursor: pointer;
}
.suggestionBox{
    width: 20rem;
    height: 5rem;
    color: #FFFFFF;
    border-radius: 0.3rem;
    background-color: #9370DB;
    cursor: pointer;
    border: 0.2rem solid #D8BFD8;
}
.pictureImg{
    max-width: 100%;
}
.boxDeletar{
    text-align: center;
}
.deletarImagem{
    font-size: 1.4rem;
    cursor: pointer;
    background-color: #9370DB;
    border: 0.2rem solid #9370DB;
    color: #FFFFFF;
    border-radius: 0.5rem;
    width: 15rem;
    height: 3.5rem;
    transition: 250ms;
}
.deletarImagem:hover{
    transform: scale(1.1);
    border: 0.2rem solid #D8BFD8;
}