*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.info{
    background-color: #9370DB;
    color: #FFFFFF;
    border-radius: 4px;
    width: 550px;
    height: 300px;
    margin-bottom: 50px;
}
.infoZoom{
    transform: scale(1.2);
    margin: 50px;
}
.infoTitle{
    padding: 15px;
    border-bottom: 1px solid #D8BFD8;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.descritionPage{
    display: flex;
    border-bottom: 1px solid #D8BFD8;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.TextDescritionPage{
    padding: 10px 10px 10px 15px;
    width: 70%;
    font-size: 20px;
}
.ImageConfusedPeople{
    padding: 10px 10px 10px 0;
    width: 30%;
}
.moreHelp{
    display: flex;
}
.textMoreHelp{
    padding: 10px;
    font-size: 18px;
    width: 87%;
}
.enlargeButton{
    width: 10%;
    padding: 10px;
    cursor: pointer;
}
header{
    border-bottom-left-radius: 55px;
    height: 150px;
    max-width: 100vw;
    background-image: linear-gradient(#B0C4DE, #4169E1);
    display: flex;
    padding-left: 20px;
    box-shadow: 5px 5px 20px #4682B4;
    margin-bottom: 50px;
}
body{
    background-color: #191970;
    height: 100vh;
}
.logo{
    width: 100px;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
figcaption{
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    color: #ffff;
    text-shadow: 2px 2px 2px #000000;
    transition: 0.3s;
}
figcaption:hover{
    transform: scale(1.2);
}
.welcome{
    display: flex;
    flex-direction: column;
    margin: 18px 5px 5px 5px;
    color: #E0FFFF;
    text-shadow: 2px 2px 2px #000000;
}
h1{
    font-size: 30px;
}
h2{
    font-size: 22px;
    text-align: center;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.searchBox{
    width: 550px;
    height: 40px;
    text-align: center;
    margin: 0 50px 50px 50px;
    background-color: #4169E1;
    border: 2px solid #B0C4DE;
    border-radius: 10px;
    outline: 0;
    color: #FFFFFF;
    font-weight: 550;
    font-size: 18px;
}
.searchBox::placeholder{
    color: #FFFFFF;
}
.icon{
    width: 50px;
}
.contentBoxHelp{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.boxTextHelp{
    display: flex;
    flex-direction: column;
    padding: 25px;
    width: 450px;
    border: 2px solid #6A5ACD;
    border-radius: 10px;
    background-color: #9370DB;
    text-decoration: none;
    color: #ffff;
    font-weight: 550;
    box-shadow: 2px 1px 5px #4B0082;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
}
.boxTextHelp:hover{
    transform: scale(1.2);
}
.contentBoxHelp:has(.boxTextHelp:hover) .boxTextHelp:not(:hover) {
    opacity: 0.5;
    scale: .98;
}
.textHelp{
    display: flex;
   gap: 15px;
   align-items: center;
}
.boxOptionModal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
h4{
    padding-top: 10px;
    background-color: #4682B4;
    height: 40px;
    width: 100%;
    text-align: center;
    justify-content: center;
    color: #ffff;
    text-shadow: 1px 1px 2px #000000;
    font-weight: 700;
    font-size: 18px;
}
.options{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.linkOption1{
    display: flex;
    font-weight: 700;
    width: 140px;
    height: 50px;
    background-color: #4682B4;
    text-decoration: none;
    color: #ffff;
    text-shadow: 1px 1px 2px #000000;
    font-size: 20px;
    align-items: center;
    justify-content: center;
}
.linkOption2{
    display: flex;
    border: 1px solid #4682B4;
    background-color: #E6E6FA;
    color: #4682B4;
    width: 140px;
    height: 50px;
    text-align: center;
    font-weight: 700;
    text-decoration: none;
    font-size: 20px;
    align-items: center;
    justify-content: center;
}
dialog{
    margin: auto;
    padding: 0;
    justify-content: center;
    height: 190px;
    width: 400px;
    border: 1px solid #000000;
    background-image: linear-gradient( #E6E6FA, #B0E0E6);
    border-radius: 10px;
    box-shadow: 3px 3px 5px #000000;
}
dialog::backdrop{
    background-color: rgba(0, 0, 0, 0.650);
    backdrop-filter: blur(2px);
}
.buttonClosePrint, .buttonCloseCache, .buttonCloseAccessibility, .buttonCloseSuggestion, .buttonSendSuggestion{
    width: 45px;
    align-items: end;
    margin-top: 10px;
    cursor: pointer;
}
.modalSuggestion{
    height: 550px;
    width: 500px;
}
.BoxTextarea{
    display: flex;
    justify-content: center;
}
textarea{
    margin-top: 10px;
    padding: 10px;
    border-radius: 8px;
    border: none;
    resize: none;
}
textarea::placeholder{
    text-align: center;
}
input[type=file]{
    display: none;
}
.picture{
    margin:  10px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E6E6FA;
    color: #8A2BE2;
    border: 2px dashed #9370DB;
    cursor: pointer;
    width: 420px;
    aspect-ratio: 16/6;
    transition: color 200ms ease-in-out;
}
.picture:hover{
    color: #7B68EE;
    border: 2px dashed currentColor;
}
footer{
    position: relative;
    padding: 12px 12px 0 12px;
    margin-top: 50px;
    width: 100%;
    background-image: linear-gradient(#191970, #4682B4);
    box-shadow: 1px 1px 5px #000080;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footerSuggestion{
    background-color: #9370DB;
    background-image: none;
    box-shadow: none;
    margin: none;
}
.people{
    display: flex;
    align-items: center;
    font-size: 17px;
    margin-top: 3px;
}
.iconGithub{
    width: 25px;
    margin-left: 10px;
    cursor: pointer;
}
.suggestionBox{
    width: 200px;
    height: 50px;
    color: #FFFFFF;
    border-radius: 3px;
    background-color: #9370DB;
    cursor: pointer;
    border: 2px solid #D8BFD8;
}